
.square-image {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.preview-image {
    width: 100%; /* Ensures the image fills the container */
    height: 100%; /* Ensures the image fills the container */
    object-fit: cover; /* Ensures the image covers the entire square container */
}
